.page_body {
    min-height: calc(100vh - (var(--header-height)));
    width: calc(100% - (var(--sidebar-mini-width)));
    margin-top: calc(var(--header-height));
    margin-left: auto;

}

@media only screen and (max-width:750px) {
    .page_body {
        width: 100%;
    }
}